@import './icons.css';
@import './fonts.css';
@import './body.css';
@import './links.css';
@import './button-icon.css';
@import './sidebar.css';
@import './ellipsis.css';
@import './slider.css';
@import './player.css';
@import './page.css';
@import './layout.css';
@import './scrollbar.css';
@import './playlist-header.css';
@import './playlist-header-container.css';
@import './playlist-list-tracker.css';



:root { 
  font-size: 16px;
  --primary: #00b050;
  --white: #ffffff;
  --gray10: #b3b3b3;
  --gray20: #737373;
  --gray30: #282828;
  --gray40: #181818;
  --gray50: #121212;
  --gray60: #000000;
  --baseFontFamily: Avenir, Helvetica, sans-serif;
  --headLine1: bold 2rem/normal var(--baseFontFamily);
  --headLine2: bold 1.5rem/1.75rem var(--baseFontFamily);
  --baseFont: normal .875rem/1.375rem var(--baseFontFamily);
  --baseFontBold: bold .875rem/1.375rem var(--baseFontFamily);
  --button: bold .875rem/1rem var(--baseFontFamily);
  --small: normal .75em/normal var(--baseFontFamily);
}

@media screen and (min-width: 1336px) {
  ::root{
    font-size: 20px;
  }
}